html {
	font-size: 15px;
	scroll-behavior: smooth;
	letter-spacing: 1.5px;
    text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

/* CUSTOMS */

.center-align {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.justify-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.no-mar {
	margin: 0;
}

.no-pa {
	padding: 0;
}

.md-pad {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.column {
	display: flex;
	flex-direction: column;
}

.section-padding {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.section-extra-padding {
	padding-top: 8rem;
	padding-bottom: 8rem;
}

/* CUSTOMS */

.top-header {
	background-color: #222222;
	display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5rem;
    height: 3rem;
}

.emergency-lines {
	font-size: 1rem;
	color: white;
	margin: 0 1rem;
}

.bloodshot {
	color: #d50303;
}

#nav {
	overflow: hidden;
	background-color: white;
	height: 15vh;
}

.logo-wrapper {
	display: flex;
	flex-wrap: nowrap;
}

.logo-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1rem;
}

.logo-text h3 {
	margin: 0;
}

.logo-text p {
	font-size: 0.7rem;
	/* font-weight: 500; */
	margin: 0;
}

.logo {
	width: 80px;
	height: 80px;
	background-image: url(../assets/image/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.link-logo {
	color: #222222;
	text-decoration: none;	
}

.link-logo:hover {
	color: #222222;
	text-decoration: none;
}

.navig li a {
	color: #222222;
	text-decoration: transparent;
	transition: ease-out .3s;
	-webkit-transition: ease-out .3s;
	-moz-transition: ease-out .3s;
	-ms-transition: ease-out .3s;
	-o-transition: ease-out .3s;
}

.navig li a:hover {
	color: #d50303;
}

nav ul {
	margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
	margin: 0 1rem;
}


/* Main Header */

#main-header {
	height: 85vh;
}

.bg-image-1 {
	height: 85vh;
	background-image: url(../assets/image/HomeHeader.jpg);
	background-repeat: no-repeat;
	/* background-position: center; */
	background-size: cover;
}

.heading {
	color: white;
	position: relative;
	top: 50%;
}

.heading span {
	font-size: .9rem;
}

.heading h2 {
	font-size: 4rem;
}

.heading p {
	font-size: 1.3rem;
	letter-spacing: 0.2px;
}

/* Main Header */

/* Why Stern? */

.info {
	letter-spacing: .4px;
	padding-right: 2rem;
}

.info h2 {
	margin-bottom: 1rem;
}

.info p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.4rem;
}

.info p:last-child {
	font-size: 1rem;
	color: #888888;
}

.welcome-bg {
	height: 350px;
	background-image: url(../assets/image/WorkImage.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.info-right {
	letter-spacing: .4px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2rem;
	margin-top: 2rem;
	padding-right: 2rem;
}

/* Why Stern? */

/* Work */

#services {
	color: white;
}

.work-bg {
	height: 100vh;
	background-image: url(../assets/image/WorkBgImage.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.all-work {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.work-thumb-1 {
	width: 70px;
	height: 70px;
	margin: 1rem 0;
	background-image: url(../assets/image/firefighting.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.work-thumb-2 {
	width: 70px;
	height: 70px;
	margin: 1rem 0;
	background-image: url(../assets/image/ambulanceservices.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.work-thumb-3 {
	width: 70px;
	height: 70px;
	margin: 1rem 0;
	background-image: url(../assets/image/rescueservices.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.work-thumb-4 {
	width: 70px;
	height: 70px;
	margin: 1rem 0;
	background-image: url(../assets/image/communitysafety.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.work h5 {
	font-size: 1.1rem;
	letter-spacing: .5px;
	color: #e9bb4d;
	font-weight: 600;
	margin-bottom: 1rem;
}

.work p {
	letter-spacing: .3px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
}

.work-bg span p {
	font-size: 0.9rem;
    color: #d50303;
	margin-bottom: .7rem;
}

/* Work */



/* Events */

.head-title {
	text-align: center;
	margin: 2rem 0;
	letter-spacing: 0.2px;
}

.event-bg-1 {
	height: 400px;
	margin: 1rem 0;
	background-image: url(../assets/image/HomeEvents1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.event-bg-2 {
	height: 400px;
	margin: 1rem 0;
	background-image: url(../assets/image/HomeEvents2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#events .col-md-6 h3 {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: .2px;
	margin-bottom: 1.5rem;
}

.event-details {
	letter-spacing: .3px;
	font-size: .9rem;
}

.event-details p {
	margin-bottom: 0;
}

/* Events */


/* Contact */

.contact-bg {
	color: white;
	letter-spacing: .3px;
	height: 400px;
	background-image: url(../assets/image/YourArea.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.contact-bg .justify-center h3 {
	font-weight: 600;
	margin-bottom: 2rem;
}


/* STICKY CSS */

.main {
	padding: 5px 0;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: 0px 0.5px 1px 0px rgba(136,136,136,0.4);
	-moz-box-shadow: 0px 0.5px 1px 0px rgba(136,136,136,0.4);
	box-shadow: 0px 0.5px 1px 0px rgba(136,136,136,0.4);
}

.sticky + .main {
padding-top: 60px;
}

/* STICKY CSS */


/* MEDIA QUERIES */

@media (max-width: 425px) {
	.top-header {
		padding: 0 1rem;
		height: 4rem;
	}
	.emergency-lines {
		font-size: 0.7rem;
    	margin: 0 0.3rem;
	}
}

@media (max-width: 375px) {
	.top-header {
		height: 4rem;
	}

	.emergency-lines {
		font-size: 0.7rem;
    	font-weight: 300;
    	margin: 0 3rem;
	}
}

@media (max-width: 320px) {
	.top-header {
		height: 4rem;
	}

	.emergency-lines {
		font-size: 0.7rem;
    	font-weight: 300;
    	margin: 0 2rem;
	}
}
